<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
    <configSections>
        <sectionGroup name="enyim.com">
            <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection,Enyim.Caching" />
        </sectionGroup>
        <sectionGroup name="CarlisleSettings">
            <sectionGroup name="ExternalAPI">
                <section name="CloudSight" type="System.Configuration.NameValueSectionHandler" />
                <section name="FatSecret" type="System.Configuration.NameValueSectionHandler" />
                <section name="Giftbit" type="System.Configuration.NameValueSectionHandler" />
                <section name="Google" type="System.Configuration.NameValueSectionHandler" />
                <section name="OpenWeatherMap" type="System.Configuration.NameValueSectionHandler" />
                <section name="Mil.RedWeb" type="System.Configuration.NameValueSectionHandler" />
                <section name="Mil.NavPeople" type="System.Configuration.NameValueSectionHandler" />
            </sectionGroup>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Carlisle_API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
        <httpRuntime maxRequestLength="10240" relaxedUrlToFileSystemMapping="true" />
        <compilation debug="true" targetFramework="4.5.2" />
        <customErrors mode="Off" />
        <pages controlRenderingCompatibilityVersion="4.0" />
        <httpHandlers>
            <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
        </httpHandlers>
    </system.web>
    <appSettings>
        <add key="Mongo" value="mongodb://army:barracks@ds221698-a0.mil-lab.com:548,ds333698-a1.mlab.com:596/db" />
        <add key="MongoDB" value="nmdb" />
        <add key="MotionTrackerKey" value="abc123" />
        <add key="ShipStationApiKey" value="c4c0d64079be45e8b1ea01c2207ff19e61" />
        <add key="ShipStationApiSecret" value="bc1cc894796f3497186a23769ff2159952e" />
        <add key="IntercomAuthToken" value="dG9rOmJjMmQyM2I5XzA0OWRfNGViMF8s5OGFkXzliNmVjNjQ5ODEzOToxOjA=" />
        <add key="IntercomAppID" value="xhoqsdfcac7" />

        <add key="carlisle.Push.IOS" value="arn:aws:sns:us-west-2:1228632342693810:app/APNS_SANDBOX/Carlisle_Apple_Dev" />
        <add key="carlisle.Push.Android" value="arn:aws:sns:us-west-2:1222342987863693810:app/GCM/Carlisle_GCM" />
        <add key="isMil" value="false" />
        <add key="appVersion.Android" value="100" />
        <add key="appVersion.Ios" value="100" />
        <add key="appVersion.Patch.Android" value="100" />
        <add key="contentfulAccessToken" value="68f392482db202715e0467f6fa4816deba6b846a1cb0fd67c4873c38ea36a884cdf" />
        <add key="jwt:cryptkey" value="when1wa301d" />
        <add key="cache.provider" value="System.Runtime" />
        <add key="cache.enabled" value="false" />
        <add key="cache.expiration" value="600" />

        <add key="system.administrator.account" value="Marco.G.Knowles@mail.army.mil" />
        <add key="system.administrator.password" value="trustno1" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="api/*" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Credentials" value="true" />
                <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization, __Date, __Time, __Longitude, __Latitude, __Vendor, __Key" />
                <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS, DELETE, PUT" />
                <add name="Access-Control-Max-Age" value="86400" />
            </customHeaders>
        </httpProtocol>
        <validation validateIntegratedModeConfiguration="false" />
        <httpErrors existingResponse="PassThrough" />
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="10485760" />
            </requestFiltering>
        </security>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.25.0.0" newVersion="1.25.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.25.0.0" newVersion="1.25.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.19.0.0" newVersion="1.19.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Google.Apis.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.19.0.0" newVersion="1.19.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <enyim.com>
        <memcached protocol="Binary">
            <servers>
                <add address="127.0.0.1" port="11211" />
            </servers>
        </memcached>
    </enyim.com>

    <CarlisleSettings>
        <ExternalAPI> 
            <CloudSight>
                <add key="URL" value="http://api.cloudsight.ai" />
                <add key="Key" value="KFW97FWAzh3pKWtyTNX8qAd" />
                <add key="MaxHeight" value="512" />
                <add key="MaxWidth" value="512" />
            </CloudSight>
            <FatSecret>
                <add key="URL" value="http://platform.fatsecret.com/rest/server.api" />
                <add key="UserId" value="faf@Carlisle.mil" />
                <add key="Key" value="b70bcbc6ac01410a974c553939f94164d" />
                <add key="Secret" value="a576324a0dde441f8e677de4580bf2de8" />
            </FatSecret>
            <Giftbit>
                <add key="AccessToken" value="eyJ0eXAiOiJKV1QiLCJffhbGciOiJTSEEyNTYifQ==.VVNXbEVzSFlMVXU3dddfckQ0MkFNVXR0RGFPVjB5TWJvMVJsVnViT251UVp1TERKQ21RQ3hnMWNGdFBWaXBwNGQ3V0RZZm90RlV0Mkc0RVFrRG5CSWM2dU5wdzF3QllZK2FyelJaNEhBUURkMTU2bjVncDJza1dHUFRMcHd3TG8rQUY=.UE3IsATqb+zrQX55TwsQEjwkLJ0KLbG59suqcqMGlOQ=" />
                <add key="BaseURL" value="https://mil.giftbit.com/papi/v1" />
            </Giftbit>
            <Google>
                <add key="Credentials" value="Carlisle_API.Resources.Google.Carlisle-prod.json" />
            </Google>
            <OpenWeatherMap>
                <add key="apiKey" value="a570986210d86ade8147074bf84ecff68" />
            </OpenWeatherMap>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <Mil.NavPeople>
                <add key="URL" value="L/Page" />
                <add key="UserName" value="Carlisle" />
                <add key="Password" value="LuGrAl4rKfdI9eUcA5svy6M67eMgu8mzHoOLdNtNQLv8=" />
                <add key="IntegrationCode" value="Carlisle" />
            </Mil.NavPeople>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        </ExternalAPI>
    </CarlisleSettings>

    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Carlisle_API.Properties.Settings>
            <setting name="Carlisle_API_Mil_OutboundCustomer_OutboundCustomer_Service" serializeAs="String">
                <value>/Page/OutboundCustomer</value>
            </setting>
            <setting name="Carlisle_API_Mil_OutboundSalesDocument_OutboundSalesDocument_Service" serializeAs="String">
                <value>/Page/OutboundSalesDocument</value>
            </setting>
            <setting name="Carlisle_API_Mil_OutboundSubscriptions_HSOutboundSubscriptions_Service" serializeAs="String">
                <value>/Page/HSOutboundSubscriptions</value>
            </setting>
            <setting name="Carlisle_API_Mil_InboundCustomer_InboundCustomer_Service" serializeAs="String">
                <value>/Page/InboundCustomer</value>
            </setting>
            <setting name="Carlisle_API_Mil_InboundSalesDocument_InboundSalesDocument_Service" serializeAs="String">
                <value>/Page/InboundSalesDocument</value>
            </setting>
            <setting name="Carlisle_API_Mil_Integrations_HSIntegrations" serializeAs="String">
                <value>/Codeunit/HSIntegrations</value>
            </setting>
            <setting name="Carlisle_API_Mil_InboundShipToAddress_HSInboundShipToAddress_Service" serializeAs="String">
                <value>/Page/HSInboundShipToAddress</value>
            </setting>
            <setting name="Carlisle_API_Mil_InboundSubscriptions_HSInboundSubscriptions_Service" serializeAs="String">
                <value>/Page/HSInboundSubscriptions</value>
            </setting>
            <setting name="Carlisle_API_Mil_InboundSubscription_HSInboundSubscriptions_Service" serializeAs="String">
                <value>/Page/HSInboundSubscriptions</value>
            </setting>
            <setting name="Carlisle_API_Mil_DeliveryMatrix_HSDeliveryChargeSetup_Service" serializeAs="String">
                <value>/Page/HSDeliveryChargeSetup</value>
            </setting>
        </Carlisle_API.Properties.Settings>
    </applicationSettings>
</configuration>