@charset "utf-8";
/* CSS Document */

/* --------

brightcove responsive video display

include the brightcove.css and wrap the brightcove generated code in a div with the "BC-video-container class".

<div class="BC-video-container"></div>

---------- */

.BC-video-container {
	position: relative;
	padding-bottom: 10.25%;
	z-index: 0;
}

.BrightcoveExperience {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
